<!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
<div class="logo">
    <a href="/home" class="simple-text logo-mini">
        <div class="logo-image-small">
            <img id="LogoIndustria" src="../assets/img/tempLogo.png">
        </div>
    </a>
    <a href="/home" class="simple-text logo-normal">
        Plataforma de Negócios
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
         <li id="home" >
            <a href="/home">
                <i class="ti-pie-chart"></i>
                <p>Home</p>
            </a>
        </li>
        <%if(locals.tipoConta == "industria"){%>
        <li id="cliente">        
            <a href="/cliente">
                <i class="nc-icon nc-single-02"></i>
                <p>Motoristas</p>
            </a>
        </li>
        <%}%>
        <%if(locals.tipoConta == "admin"){%>
        <li id="industria">        
            <a href="/industria">
                <i class=" ti-briefcase"></i>
                <p>Indústria</p>
            </a>
        </li>
        <li id="Usuario">        
                <a href="/usuario">
                    <i class="ti-user"></i>
                    <p>Usuário</p>
                </a>
            </li>
        <%}%>       
        <li id="configuracao">
            <a href="/configuracao">
                <i class="ti-settings"></i>
                <p>Configurações</p>
            </a>
        </li>
        <li>
            <a href="/logout">
                <i class="ti-close"></i>
                <p>Sair</p>
            </a>
        </li>
    </ul>
</div>
<script>
    window.onload = function(){
        if("<%=ativo%>" == 'configuracao'){
            $("#configuracao").attr('class', 'active');
        }
        if("<%=ativo%>" == 'home'){
            $("#home").attr('class', 'active');
        }
        if("<%=ativo%>" == 'industria'){
            $("#industria").attr('class', 'active');
        }
        if("<%=ativo%>" == 'usuario'){
            $("#Usuario").attr('class', 'active');
        }
        if("<%=ativo%>" == 'motorista'){
            $("#cliente").attr('class', 'active');
        }
    }
    $(document).ready(function () {
        
        

        // $('.sidebar-wrapper>ul>li').removeClass('active');
        // $('.sidebar-wrapper #' + $('#active-menu').text()).addClass('active');
    });
</script>