<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <%- include('../partials/sidebar', {ativo : 'rotas'}) %>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <%if(data._id != '' && data._id != null && data._id != undefined){%>
          <%- include('../partials/topbar', {title : 'Edição de Rota'}) %>
        <%} else {%>
          <%- include('../partials/topbar', {title : 'Cadastro de nova Rota'}) %>          
          <%}%>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div>
              <% if(msg != null){ %>
              <div class="alert alert-warning alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span>
                  <%= msg%>
                </span>
              </div>
              <% } %>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"></h4>
              </div>
              <div class="card-body">
                <form method="POST" action="/salvaRota">
                  <%if(data._id != '' && data._id != null && data._id != undefined){%>
                    <input type="hidden" name="_id" value="<%= data._id%>"/>
                    <%}%>
                  <input type="hidden" name="origem" id="origem"/>
                  <input type="hidden" name="destino" id="destino"/>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                          <label>Cidade Origem</label>
                          <input id="cidadeOrigem" class="form-control" required value="<%=data.origem%>">
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                          <label>Cidade Destino</label>
                          <input id="cidadeDestino" class="form-control" required value="<%=data.destino%>">
                      </div>
                    </div>
                  </div>                                
                  <div class="row">
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label id="labelDistancia">Distância (KM)</label>
                          <input name="distancia" type="text" class="form-control" required placeholder="" id="distancia" value="<%=data.distancia%>"/>
                        </div>
                      </div>
                      <div class="col-md-6 pl-1">
                        <div class="form-group">
                          <label>Valor Pedágio (R$ por eixo)</label>
                          <input name="pedagio" type="text" class="form-control" required placeholder="" id="pedagio" value="<%=data.pedagio%>" />
                        </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input name="id" type="hidden" />
                      <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <%- include('../partials/footer') %>
      </footer>
    </div>
  </div>
  <%- include('../partials/scripts') %>
  <script>  
  
    var listCidades = cidadeEstado.getCidadesComEstados();
     $('#cidadeOrigem').change(CalculaDistancia);
     $('#cidadeDestino').change(CalculaDistancia);
    
    initAutoComplete(document.getElementById('cidadeOrigem'));
    initAutoComplete(document.getElementById('cidadeDestino'));
    

    $(document).ready(function () {
      $('#pedagio').mask('0000,00', {reverse: true});
      $('#distancia').mask('000.000', {reverse: true});      

      $("form").submit(function() {   
        var cidadeOrigem = $("#cidadeOrigem").val();
        var cidadeDestino = $("#cidadeDestino").val();       
        $("#origem").val(cidadeOrigem);
        $("#destino").val(cidadeDestino);
      });

    });

    function initAutoComplete(field){
      autocomplete({
			input: field,
			minLength: 1,
			onSelect: function (item, inputfield) {
				inputfield.value = item.cidade
			},
			fetch: function (text, callback) {
				var match = text.toLowerCase();
				callback(listCidades.filter(function(n) { return n.cidade.toLowerCase().indexOf(match) !== -1; }));
			},
			render: function(item, value) {
				var itemElement = document.createElement("div");
				
					var regex = new RegExp(value, 'gi');
					var inner = item.cidade.replace(regex, function(match) { return "<strong>" + match + "</strong>" });
					itemElement.innerHTML = inner;
				
				return itemElement;
			},
			emptyMsg: "Nenhuma Cidade Encontrada!"
		})
		document.querySelector("input").focus();
    }

    function CalculaDistancia() {
      var origem = $("#cidadeOrigem").val();
      var destino = $("#cidadeDestino").val();

      if(origem != "" && origem != null && destino != "" && destino != null){
          var service = new google.maps.DistanceMatrixService();
          service.getDistanceMatrix(
          {
              origins: [origem],
              destinations: [destino],
              travelMode: google.maps.TravelMode.DRIVING,
          }, callback);
      }
    }
    function callback(response, status) {
        if (status == google.maps.DistanceMatrixStatus.OK) {
          $("#labelDistancia").text('Distância (KM) (a distância aproximada entre estas cidades é de: '+ response.rows[0].elements[0].distance.text +')');
            // alert("Distância:" + response.rows[0].elements[0].distance.text);
            // alert("Duração:" + response.rows[0].elements[0].duration.text);
        }
    }
  </script>
</body>

</html>