<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="">
  <div class="wrapper ">
    <div class="fixed-plugin" style="display: none">
      <div class="dropdown show-dropdown open show">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
          <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu show">
          <div class="card card-timeline card-plain" style="margin: 10px">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <span class="label label-danger">Por favor, altere a sua senha</span>
              </div>
              <div class="timeline-body">
                <p>Para mantermos um bom nível de segurança, solicitamos que a senha seja alterada. </p>
                <p>Hoje você está utilizando a senha gerada na criação do seu usuário, e é necessário altera-lá. </p>

                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <a class="btn btn-info btn-fill btn-wd" href="/configuracao" role="button">Alterar a senha</a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="sidebar" data-color="white" data-active-color="danger">
      <%- include('../partials/sidebar', {ativo : 'home'}) %>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <%- include('../partials/topbar', {title : 'Posição Geral'}) %>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <%if(data){%>
          <%if(data.tipoConta == 'admin'){%>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="ti-briefcase text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Industrias Cadastradas</p>
                      <p class="card-title">35</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-info-circle"></i> Mais Informações
                </div>
              </div>
            </div>
          </div>
          <%} else {%>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="ti-truck text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Motoristas Cadastrados</p>
                      <p class="card-title">35</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-info-circle"></i> Mais Informações
                </div>
              </div>
            </div>
          </div>
          <%}%>
          <%}%>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="ti-package text-success"></i>

                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Cargas Entregues</p>
                      <p class="card-title">38
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-info-circle"></i> Mais Informações
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="ti-package text-warning"></i>

                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Cargas Agendadas</p>
                      <p class="card-title">15
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-info-circle"></i> Mais Informações
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="ti-time text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Liberação Pendente</p>
                      <p class="card-title">3
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-info-circle"></i> Mais Informações
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if(data.tipoConta == 'admin') {%>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Cadastros</h5>
                <p class="card-category">Novos Clientes</p>
              </div>
              <div class="card-body ">
                <canvas id=chartHours width="400" height="100"></canvas>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-info-circle"></i> Evolução de cadastro de novos Clientes
                </div>
              </div>
            </div>
          </div>
        </div>
        <%} else {%>
        <div class="row">
          <div class="col-md-4">
            <div class="card ">
              <div class="card-header">
                <h5 class="card-title">Relatório do mês</h5>
                <p class="card-category">Entregas, Ocorrências e Pendencias</p>
              </div>
              <div class="card-body ">
                <canvas id="chartEmail"></canvas>
              </div>
              <div class="card-footer ">
                <div class="legend">
                  <i class="fa fa-circle text-primary"></i> Motoristas Cadastrados
                  <i class="fa fa-circle text-warning"></i> Entregas Realizadas
                  <i class="fa fa-circle text-danger"></i> Ocorrências
                  <i class="fa fa-circle text-gray"></i> Assuntos Pendêntes
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Entregas x Ocorrências</h5>
                <p class="card-category">Entregas realizadas e Ocorrências</p>
              </div>
              <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
              </div>
              <div class="card-footer">
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Entregas
                  <i class="fa fa-circle text-warning"></i> Ocorrências
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
        <%}%>
      </div>
      <footer class="footer footer-black  footer-white ">
        <%- include('../partials/footer') %>
      </footer>
    </div>
  </div>
  <%- include('../partials/scripts') %>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      demo.initChartsPages('<%=data.tipoConta%>');

      if ("<%= data.senhaPadraoAlterada%>" == "false") {
        $(".fixed-plugin").show();
      }
    });
  </script>
</body>

</html>