<!DOCTYPE html>
<html lang="pt">

<head>
  <%- include('../partials/head') %>
</head>

<body class="">
  <input type="hidden" id="msgErro" value="<%=msg%>" />
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <%- include('../partials/sidebar', {ativo : 'usuario'}) %>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <%- include('../partials/topbar', {title : 'Cadastro de Usuário'}) %>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">          
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <%if(data._id != '' && data._id != null && data._id != undefined){%>
                  <h5 class="card-title">Edição de Usuário</h5>
                <%} else{%>
                  <h5 class="card-title">Novo Usuário</h5>  
                <%}%>
              </div>
              <div class="card-body">
                <form  method="POST" action="/usuario-criacao">
                  <div class="row">
                      <div class="col-md-6 pr-1">
                    <label class="bs-switch">
                      <input type="checkbox" name="ativo" checked="<%=data.ativo%>">
                      <span class="slider round">Usuário Ativo</span>
                    </label>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 pr-1">
                        <%if(data._id != '' && data._id != null && data._id != undefined){%>
                        <input type="hidden" name="id" value="<%= data._id%>"/>
                        <input type="hidden" name="senhaPadraoAlterada" id="senhaDefault" value="<%= data.senhaPadraoAlterada%>"/>
                        <%}%>
                        <div class="form-group">
                          <label>Nome</label>
                          <input type="text" name="nome" autocomplete="off" id="nome" class="form-control" value="<%= data.nome %>" placeholder="Nome Completo" required>
                        </div>
                      </div>
                      <div class="col-md-6 pl-1">                          
                        <div class="form-group">
                          <label>E-mail</label>
                          <input type="email" name="email" autocomplete="off" id="email" class="form-control" value="<%= data.email %>" required>
                        </div>
                      </div>                      
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                          <div class="form-group">
                            <label>Usuário</label>
                            <input type="text" name="usuario" autocomplete="off" id="usuario" class="form-control" value="<%= data.usuario %>" required>
                          </div>
                        </div>
                        <div class="col-md-4 px-1">
                          <div class="form-group">
                            <label>Senha</label>
                            <input type="password" name="senha" id="senha" value="<%= data.senha %>" class="form-control" required >
                          </div>
                        </div>
                        <div class="col-md-4 pl-1">
                          <div class="form-group">
                            <label>Privilégio</label>
                            <input type="hidden" value="<%= data.tipoConta %>" id="tipoContahidden" />
                            <select class="form-control" id="selectTipoConta" name="tipoConta" required>
                              <option value="">Selecione</option>
                              <option value="admin">Administrador</option>
                              <option value="industria">Indústria</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="update ml-auto mr-auto">
                        <button type="submit" id="btnSubmit" class="btn btn-info btn-fill btn-wd">Salvar</button>
                      </div>
                    </div>     
                </form>
            </div>              
          </div>
        </div>
      </div>
    </div>
    <footer class="footer footer-black  footer-white ">
      <%- include('../partials/footer') %>
    </footer>
  </div>
</div>
<%- include('../partials/scripts') %>
  <script>
    $(document).ready(function () {
      var mensagem = "<%=msg%>";      
      if(mensagem != ''){
        var contentMessage = mensagem.split(',');
        for(var i=0; i<contentMessage.length; i++){
          if(contentMessage[i].includes('usuario')){
            var element = document.getElementById("usuario");
            element.classList.add("error");            
          }
          if(contentMessage[i].includes('email')){
            var element = document.getElementById("email");
            element.classList.add("error");    
          }
          $.notify({
                    icon: "nc-icon nc-alert-circle-i",
                    message: contentMessage[i]
                },
                {
                    type: 'danger',
                    timer: 4000,
                    placement: {
                        from: 'top',
                        align: 'center'
                    }
                });
        }
      }

      if($("#tipoContahidden").val() != null){
        setSelectedIndex(document.getElementById("selectTipoConta"),$("#tipoContahidden").val()); 
      }

      if($("#senhaDefault").val() == "false"){
        //readonly="readonly"
        $("#nome").attr('readonly', 'readonly');
        $("#email").attr('readonly', 'readonly');
        $("#usuario").attr('readonly', 'readonly');
        $("#senha").attr('readonly', 'readonly');
      }

      function setSelectedIndex(s, valsearch){
        for (i = 0; i< s.options.length; i++){
          if (s.options[i].value == valsearch){
            s.options[i].selected = true;
            break;
          }
        }
        return;
      }
    });


</script>
</body>

</html>